body {
  background-color: #80ab73;
}
.BodyClass {
  background-color: #80ab73;
}
/* nav */
.bg-body-tertiary {
  background-color: #fbd437 !important;
}
.navbar-brand {
  color: #ac8ee0 !important;
  font-family: "Young Serif", serif !important;
}
.navbar-nav {
  color: #80ab73 !important;
}
.nav-link {
  color: #ac8ee0 !important;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #ac8ee0 !important;
}
.navbar-brand:hover {
  color: #80ab73 !important;
}
.nav-link:hover {
  color: #80ab73 !important;
}
/* Card About Us  */
.cardColor {
  background-color: #80ab73;
}
.img-fluid {
  /* max-width: -webkit-fill-available;
  height: auto;
  margin-top: auto; */
  height: 53%;
  border-radius: 10px;
  margin-top: 34px;
  margin-left: 21%;
}
.mb-3 {
  background-color: #80ab73;
  margin-top: 50px;
  border-color: #80ab73;
}

/* nav en contac.html */
.bg-body-tertiary {
  background-color: #fbd437 !important;
}
/* titulo */
.contenedorh1 {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 150%;
  min-height: 50vh;
  width: 100%;
}
#h1 {
  font-family: "Young Serif", serif;
  color: #fbd437;
  text-align: center;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 150%;
  min-height: 50vh;
  width: 100%;
}
.card-img-top {
  height: 61%;
}
/* footer */

.divHBfooter {
  color: #fbd437;
  font-family: "Young Serif", serif;
  font-size: medium;
  margin: 1rem;
  display: ruby-text;
  margin-top: 1rem;
}
.divfooter {
  background-color: #ac8ee0;
  display: grid;
  align-content: space-evenly;
  justify-content: space-around;
}
.imgfooter {
  /* display: flex;*/
  align-items: center;
  width: 3rem;
  height: 3rem;
  margin: 0.1rem;
  margin-bottom: 1rem;
}
.imgredes {
  flex-direction: row;
}
.footerDiv {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* margin-top: 140px; */
}

/* card blog */
.article-NyF {
  margin: 15px;
  background-color: #fbd437;
  box-shadow: 7px 7px 0 0 #ac8ee0;
  border-radius: 10px;
  padding: 10px;
  /* justify-items: center;
  justify-content: center;
  display: inline-grid; */
  flex: 1 1 calc(33.333% - 20px); /* Ajuste para tres columnas */
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.card-group > .card {
  background-color: #fbd437;
  margin: 1rem;
  /* box-shadow: 6px 6px 0 0 color; */
  box-shadow: 7px 7px 0 0 #ac8ee0;
  width: 90%;
}
.card-title {
  font-family: "Young Serif", serif;
}
.card-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
}
.card-footer {
  border-top: var(--bs-card-border-width) solid #ac8ee0;
}
div div a {
  color: #ac8ee0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.SectionArtitle {
  display: flex;
  flex-direction: row;
}
/* breakpoints */
@media (min-width: 768px) and (max-width: 991.98px) {
  .SectionArtitle {
    display: flex;
    flex-direction: column;
  }
  .img-fluid {
    max-width: -webkit-fill-available;
    height: 67%;
    margin-top: 32%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .SectionArtitle {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 575.98px) {
  .SectionArtitle {
    display: flex;
    flex-direction: column;
  }
  #plantas-container {
    width: 54% !important;
  }
  .img-fluid {
    max-width: -webkit-fill-available;
    /* height: 67%; */
    margin-top: 32%;
    /* width: -webkit-fill-available; */
  }
}
/* from de contacto  */
.formColor {
  background-color: #fbd437;
  margin: 19px;
  padding: 10px;
  border-radius: 7px;
}
.btn-primary {
  font-family: "Young Serif", serif !important;
  font-size: large !important;
  background-color: #80ab73 !important;
  border-color: #80ab73 !important;
}
.btn-primary:hover {
  background-color: #ac8ee0 !important;
}
.form-label {
  font-family: "Young Serif", serif !important;
  font-size: large !important;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.form-text {
  margin-top: 1.25rem !important;
  font-size: large !important;
  color: #ac8ee0 !important;
}
/* Mapa Sucursal */
iframe {
  border: 0;
  margin: 10px auto;
  display: flex;
  border-radius: 16px;
  width: -webkit-fill-available;
  height: 335px;
  padding: 10px;
}
/* shop */
#plantas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #80ab73;
  width: 74%;
  margin: auto;
}

.planta {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  width: 200px;
  text-align: center;
}

.planta img {
  max-width: 100%;
  border-radius: 5px;
}
.h-100 {
  background-color: #fbd437;
  height: 90% !important;
}
